.max{
	overflow:hidden;
	position: relative;
	margin-top: -70px;
	//background-image:url('../../img/bgmax.png');
	border-radius:15px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: right;
	//background-size: 100%;
	padding: 44px;
	&_content{
		font-family: 'PT Sans', sans-serif;
		color:	#000000;
		font-size: 16.99px;
		line-height: 26.009px;
		margin-bottom: 0;
	}
	&_img{
		position: absolute;
		right: 0;
		top: 0;
	}
}
h3{
	font-family: 'PT Sans', sans-serif;
	color:	#000000;
	font-size: 25.82px;
	font-weight: 700;
	text-transform: uppercase;
	span{
		color: #fc481a;
	}
}
